DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1180136860371144784/vVyJJyMcrMhiVH2zoBZo0H_xHhASMnKG9iQaO28eUjbWBoxhEo66_6bG1KtPvJq74Q0G

# Google Cloud Console で作成した OAuth クライアント情報
GOOGLE_CLIENT_ID=228872405273-j0549ajak4b0es6jl44phr7s81g6i7an.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=your_refresh_token

# 通知対象ユーザー。通常は me のままでOK
GOOGLE_USER_ID=me

# Gmail検索クエリ（GAS版と同様）
GMAIL_QUERY=is:unread newer_than:10m

# 何秒ごとに監視するか
POLL_INTERVAL_SECONDS=10
